.navbar-bottom {
  height: 30px;
  width:100%;
  text-align: center;
  color:#000000;
  background-color: #222222;
  position:fixed;
  z-index: 2;
  bottom:0px;
  }

  h6{color: #FFFFFF;}

  body {
    margin-bottom: 40px;
  }
