<!DOCTYPE html>
<html ng-app="viewTags">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="1:1 Stream">
    <meta name="author" content="Benjamin Thomas">
    <title>Episodes</title>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/angular-toastr.min.css">
  </head>
  <body>
    <div class="container" ng-controller="TagCtrl">
      <h1 class="page-header">1:1 Podcast Episode Tags</h1>
      <br>
      <div ng-repeat="tag in tags">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span style="font-size: 1.5em" class="label label-info">{{tag.name}}</span>
          </div>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="episode in tag.episodes">
              <p>
                {{episode.title}}
                <a class="btn btn-info pull-right" href="episode.php?id={{episode.id}}">View</a>
              </p>


            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/angular.min.js"></script>
  <script type="text/javascript" src="js/angular-animate.min.js"></script>
  <script type="text/javascript" src="js/angular-toastr.min.js"></script>
  <script type="text/javascript" src="js/angular-toastr.tpls.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script src="js/video.js"></script>
  <script type="text/javascript">
    var app = angular.module('viewTags', ['toastr', 'ngAnimate']);
    app.config(['$locationProvider', '$animateProvider', 'toastrConfig', function($locationProvider, $animateProvider, toastrConfig) {
      $animateProvider.classNameFilter(/animate/);
      $locationProvider.html5Mode({
        enabled: true,
        requireBase: false
      });

      angular.extend(toastrConfig, {
        toastClass: 'toast animate'
      });
    }]);
    app.controller('TagCtrl', ['$scope', '$http', 'toastr', function($scope, $http, toastr) {
      $scope.tags = [];

      $scope.getTags = function() {
        $http.get('php/getTag.php?q=' + $scope.q).success(function(tags) {
          $scope.tags = tags;
        }).error(function(data) {
          var responce = data.message ? data.message : 'There was a problem getting the Episodes.'
          toastr.warning(responce, 'Fetching Episodes Failed');
          console.error('TagCtrl Error - getTags:', arguments);
        });
      }

      $scope.getTags();
    }]);
  </script>
</html>
